@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="~/static/images/logo/favicon.png">
    <link rel="stylesheet" crossorigin href="~/compiled/css/app.css">
    <link rel="stylesheet" crossorigin href="~/compiled/css/app-dark.css">
    <link rel="stylesheet" crossorigin href="~/compiled/css/iconly.css">
</head>

<body>
    <script src="~/static/js/initTheme.js"></script>
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/static/js/components/dark.js"></script>
    <script src="~/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/compiled/js/app.js"></script>
</body>
</html>
