@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="~/static/images/logo/favicon.png">
    @await Html.PartialAsync("_AuthPartial")
</head>

<body>
    <script src="~/static/js/initTheme.js"></script>
    <div id="auth">
        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="index.html">
                            <img src="~/static/images/logo/logo.svg" alt="Logo">
                        </a>
                    </div>
                    <h1 class="auth-title">@ViewData["Title"]</h1>
                    <p class="auth-subtitle mb-5">
                        Please check your email to reset your password.
                    </p>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
