@{
    ViewData["Title"] = "User Management";
    ViewData["HeadingTitle"] = "User Management";
    ViewData["HeadingSubTitle"] = "List of Users";
    ViewData["UM"] = "active";
    ViewData["user"] = "active";
}

<div class="card">
    <div class="card-body">
        <div class="col-12 d-flex justify-content-end">
            <a asp-area="Librarian" asp-controller="User" asp-action="Create" class="btn btn-sm btn-success justify-content-end">
                <i class="bi bi-plus"></i>
                New
            </a>
        </div>
        <div class="mt-2"></div> 
        <div class="table-responsive">
            <table class="table table-bordered border" id="user-table">
                <thead>
                <tr>
                    <th>#</th>                    
                    <th>Username</th>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="user-detail" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Detail of Member
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer align-items-center">
                <button id="btn-submit-role" type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>


@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script src="~/lib/toastify-js/src/toastify.js"></script>
    <script>
       
            Toastify({
                text: "@ViewBag.Message",
                duration: 3000,
                gravity: "top",
                position: 'right',
                backgroundColor: "#00c851",
                stopOnFocus: true,
                style:{
                    
                }
            }).showToast();
        </script>
}

@section Scripts
{
    <script src="~/js/librarian/user/list.js"></script>
}